<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/card.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/nav_styles.css">
    <!--<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>-->
    <!--<script src="script.js"></script>-->

</head>

<body>
<div class="ajaxbg">
    <div class="ajaxinner">
        <h3>You are now being redirected to paypal...</h3>
        <img src="/images/ajax-loader.gif" alt=""/>
    </div>
</div>
<nav class="navbar-inverse navbar-expand-sm">
    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="nav-logo" src="/images/logo.png" ></a>
        </div>
        <div id="cssmenu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <% pages.forEach(function(page){ %>
                <% if (page.slug == "home") { %>
                <li class="nav-item"><a class="nav-font nav-link" href="/"><%= page.title %></a></li>
                <% } else {%>
                <li class="nav-item"><a class="nav-font nav-link" href="/<%= page.slug %>"><%= page.title %></a></li>
                <% } %>
                <% }); %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-font nav-link" href="/cart/checkout">My Cart (
                        <% if (typeof cart !== "undefined") { %>
                        <%= cart.length %>
                        <% } else {%>
                        0
                        <% } %>
                        )</a>
                </li>
                <% if (user) { %>
                <li class="nav-item"><a class="nav-font nav-link" href="/users/logout">Hi, <%= user.username %> ( logout )</a></li>
                <% } else {%>
                <li class="nav-item"><a class="nav-font nav-link" href="/users/register">Register</a></li>
                <li class="nav-item"><a class="nav-font nav-link" href="/users/login">Log in</a></li>
                <% } %>
                <% if (user && user.admin == 1) { %>
                <li class="nav-item"><a class="nav-font nav-link" href="/admin/pages">Admin Area</a></li>
                <% }%>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="text-center">
    <%- messages('messages', locals) %>

    <% if (errors) {%>
    <% errors.forEach(function(error) { %>
    <div class="alert alert-danger">
        <%= error.msg %>
    </div>
    <% });%>
    <% }%>

    <!--<div class="row">-->
        <!--<div class="col-xs-12 col-md-3" style="padding-top: 20px">-->
            <!--<h3>Categories</h3>-->
            <!--<ul class="list-group">-->
                <!--<li class="list-group-item list-group-item-action"><a href="/products">All products</a></li>-->
                <!--<% categories.forEach(function(c){ %>-->
                <!--<li class="list-group-item" ><a href="/products/<%= c.slug %>"><%= c.title %></a></li>-->
                <!--<% }); %>-->
            <!--</ul>-->
        <!--</div>-->

        <!--<div class="dropdown cats-men col-xs-12 col-md-3">-->
        <!--<button class="btn btn-info dropdown-toggle cat-mens-titl" type="button" id="menu1" data-toggle="dropdown">Categories-->
        <!--<span class="caret"></span></button>-->
        <!--<ul class="dropdown-menu cat-mens-titl" role="menu" aria-labelledby="menu1">-->
        <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">All products</a></li>-->
        <!--<% categories.forEach(function(c){ %>-->
        <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="/products/<%= c.slug %>"><%= c.title %></a></li>-->
        <!--<% }); %>-->
        <!--</ul>-->
        <!--</div>-->

        <div class=" text-center">

