<% include _layouts/header %>

<div class="row products">
    
    <% shops.forEach(function(p){ %>
            <div class="col-xs-12 col-md-4 p">
                <a class="pa" href="/products/<%= p.shopname %>/<%= p.slug %>">
                    <img class="pimage" src="/product_images/<%= p.id %>/<%= p.image %>" alt="">
                </a>
                <h3><%= p.shopname %></h3>
                <h4><%=p.address%></h4>
                <a class="vd" href="/shop/<%= p.slug %>">View Details</a>
            </div>
        <% }); %>
    
</div>

<% include _layouts/footer %>