<% include _layouts/header %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Think Locally</h1>
        <p class="lead">Our idea is to create an e-commerce platform that includes local shops from your community. The idea behind this is to reduce the time it takes for products to be delivered at your doorstep. This service gives you the experience of buying stuff locally while giving you the convenience of your home. The aim is to deliver all the products within 2 hours.</p>
    </div>
</div>

<!--begin Bootstrap Carousel-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5200">


        <!-- Slide Indicators -->
        
        <ol class="carousel-indicators">
        
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        
        <li data-target="#myCarousel" data-slide-to="1"></li>
        
        <li data-target="#myCarousel" data-slide-to="2"></li>
        
        <li data-target="#myCarousel" data-slide-to="3"></li>
        
        </ol>
        
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <img src="http://stuffpoint.com/apple/image/20832-apple-blue-apple.jpg" alt="...">
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  <div class="item">
                    <img src="https://static.pexels.com/photos/36487/above-adventure-aerial-air.jpg" alt="...">
                    <div class="carousel-caption">
                      ...
                    </div>
                  </div>
                  ...
                </div>
              
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>     
        

<h3 class="text-center">All Shops</h3>


<div class="container row products col-md-offset-2">
    <% shops.forEach(function(p){ %>
            <div class="col-xs-12 col-md-4 p">
                <div class="card">
                <a href="/shop/<%= p.slug %>">
                    <img class="dim-img" src="/shop_images/<%= p.shopname %>.jpg" alt="" style="width: 100%">
                </a>
                <div class="text-center" >
                <h3><%= p.shopname %></h3>
                <h4><%=p.description%></h4>
                <a class="vd blue-button" href="/shop/<%= p.slug %>">View Details</a>
                </div>
                    <div class="text-center card-footer text-muted">(Delivered in <%= p.deliverytime%> mins)</div>

                </div>
            </div>
        <% }); %>
</div>

<% include _layouts/footer %>


