<% include _layouts/header %>

<div class="row products" style="padding-top: 50px">
    
    <% shops.forEach(function(p){ %>
            <div class="col-xs-12 col-md-4 p">
                <a href="/shop/<%= p.slug %>">
                    <img class="pimage" src="/shop_images/<%= p.shopname %>.jpg" alt="">
                </a>
                <h3><%= p.shopname %></h3>
                <h4><%=p.description%></h4>
                <a class="vd" href="/shop/<%= p.slug %>">View Details</a>
            </div>
        <% }); %>
    
</div>

<% include _layouts/footer %>